.container{
    width: 440px;
    margin: auto;
    margin-top: 150px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 30px 35px;
    box-shadow: 2px 2px 4px black;
}

.container hr{
    height: 2px;
    border: none;
    background-color: #707070;
}

.container h2{
    font-size: 19px;
    font-weight: 500;
}

.container ul li{
    display: flex;
    align-items: center;
    padding-left: 15px;
    border: 1px solid gray;
    list-style-type: none;
    height: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}

.container button{
    margin:  auto;
    width: 250px;
    height: 35px;
    background: rgb(4, 4, 176);
    color: white;
    width: 100%;
    border :none;
    padding :none;
    border-radius: 4px;
    font-size: 16px;
}

.container .index{
   margin: auto;
   font-size: 16px;
}

.container .correct{
    background: #dffff2;
    border-color: #00d397;
}

.container .incorrect{
    background: #FFEBEB;
    border-color: #FF4A4A;
}